.headerContainer {
  a{
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    padding: 0 9rem;
    align-items: center;
    img{
      height: 25.63px;
      width: 238.62px;
    }
  }
}


